doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    link(rel="stylesheet" href="/lib/plyr.css")
    script(src='/lib/plyr.min.js')
    script(src='/lib/plyr.conf.js')
  body
    main
      block content